<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Popover - UIkit tests</title>

        <script src="../_test.js"></script>
        <script src="../../src/js/components/popover.js"></script>

    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Popover</h1>

            <span data-uk-popover="{pos:'right'}">
                Hover me
                <div class="uk-popover">
                    <div class="uk-popover-header">
                        Title
                    </div>
                    test...
                </div>
            </span>

        </div>

    </body>
</html>
