<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Popover - UIkit tests</title>

        <script src="../_test.js"></script>
        <script src="../../src/js/components/popover.js"></script>

    </head>

    <body>

        <div class="uk-container uk-container-center">

            <h1>Popover</h1>

            <div class="uk-margin">
                <span data-uk-popover>
                    Hover me
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>
            </p>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'top'}">
                    Top
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'left-center'}">
                    Left/Center
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'top-right'}">
                    Top/Right
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'bottom'}">
                    Bottom
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'right-center'}">
                    Right/Center
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'bottom-right'}">
                    Bottom/Right
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'left'}">
                    Left
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

            <div class="uk-margin">

                <span data-uk-popover="{pos:'right'}">
                    Right
                    <div class="uk-popover">
                        <div class="uk-popover-header">
                            Header
                        </div>
                        Content...
                    </div>
                </span>

            </div>

        </div>

    </body>
</html>
